.imagen-final{
    text-align: center;
    
        animation: entrada 11.3s;
    img{
        
        position: relative;
        width: 450px;
        margin-top: -380px;
        animation: image 11s;
    }
    
@keyframes image{
    0%,85%{
       transform: scale(0,0);
       
    }
    
    95%{
   
    -webkit-transform: scale(1.2, 0.01);
            transform: scale(1.2, 0.01);
          
  }
        
}
    }
@keyframes entrada {
    0%,85%{
        opacity: 0;
         transform: translateX(-900px);
    }
   
    90%{
        opacity: 1;
        transform: translateX(0);
    }
}



 