.comunicados{
    display: inline-block;
    margin-top: 20px;
     text-align: center;
    .encabezado{
p{
            color: $noti;
            font-size: 28px;
            font-family: 'Oswald', sans-serif;
            margin-left: 8px;
            /* text-align: center; */
        }
        .line{
            background-color: $noti;

            position: relative;
            padding: 1.5px 0;
            width: 180px;
            display: inline-block;
            top: -20px;
            
        }
    }
    .contenido{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
        .image{
            padding: 0;
              
                img{
                    
                    padding: 0;
                    float: left;
                    width: 100%;
                }
            
        }
        .info{
            h2{
                font-family: 'Oswald', sans-serif;
               
            }
        }
    }
} 