footer{
    margin-top: 40px;
 
    .designfooter{
         background-color: $textMenuFooter;
    .copyright{
        position: relative;
        float: left;
        margin:10px 0;
        top: 50%;
        text-align: center;
        line-height: 30px;
        p{
            color: white;
            font-family: "Oswald", arial;
            font-size: 18px;
        }
    }
    .design{
        float: right;
        position: relative;
        margin:10px 0;
        top: 50%;
        text-align: center;
        line-height: 30px;
        p{
            color: white;
            font-family: "Oswald", arial;
            font-size: 18px;
        }
    }
  }  
}