header{
    .image-header{
        margin-top: 40px;
        
        img{
            width: 400px;
            
        }
    }
    nav{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    background: white;
        
    ul{
        
        text-align: right;
        position: relative;
        right: 160px;
        list-style: none;
        margin:0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }li{
       
        display: inline-block;
        
        a{
            
        z-index: 30;
        position: relative;
        display: inline-block;
        padding: 15px 35px;
        text-decoration: none;
        font-size: 14px;
        color: $textMenuFooter;    
            &:link{
                text-decoration: none;
            }
            &:hover{
                text-decoration: none;
                background: $hoverMenu;
                color: white;
                -webkit-transition-duration: .3s;
            }
        }
    }
    }
    .navbar-brand{
        position: absolute;
       
        width: auto;
        padding: 0 10px;
        margin: 0 80px;
        
       img{
           margin-top: 5px;
            width: 100px;
           z-index: 29;
           &:hover{
             animation: escala 1s infinite;
        } 
       
        }
        
    }
   
}
@keyframes escala {
    50%{
        transform: scale(1.1);
    }
    
}