.noticias{
    margin-top: 30px;
    .titulo-seccion{
    
        p{
            color: $noti;
            font-size: 28px;
            font-family: 'Oswald', sans-serif;
            margin-left: 8px;
        }
        .line{
            background-color: $noti;

            position: relative;
            padding: 1.5px 0;
            width: 180px;
            display: inline-block;
            top: -20px;
    }
    
}
    .posts{
        .post{
        margin-bottom: 1.875em;
        .contenedor{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
				box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
        .thumb{
            img{
            width: 100%;
            vertical-align: top;
            height: auto;
                }
        }
        .info{
            
            padding: 1.25em; 
            .titulo{
                margin-top: 0;
                a{
                     text-decoration:none;
                    font-size: 22px;
                    color: black;
                }
            }
            .fecha{
                margin-top: 16px;
                color: $noti;  
                font-family: "Oswald";
                font-size: 16px;
            }
            .extracto{
                //margin-top: 16px;
               margin-bottom: 1.25em;
                max-height: 8.125em; //130px
						line-height: 1.75em;
                font-size: 1em;
                }
            }
         }
        }
        
    }
    .paginacion{
        .cent{
        
        ul{
            list-style: none;
			overflow: hidden;
			margin-bottom: 1.25em;
			font-size: 1em;
            display: flex;
            justify-content: center;
            li{
                
				background: grey;
				color: #fff;
				margin-right: 0.62em;
				font-size: 1.125em;
				line-height: 1.125em;
                
                a{
                    background:white;
					color: black;
					line-height: 1.125em;
					display: inline-block;
					padding: 7px 12px;
                    &:hover{
                        background: $hoverMenu;
                        color: white;
                        text-decoration: none;
                    }
                }
            }    
        }
    }
            
        }
    
}
